language: node_js
matrix:
  include:
    - node_js: 4
    - node_js: 6
    - node_js: 7
    - node_js: 7
      before_install: npm i -g npm-check-updates && ncu -a
    - node_js: stable
  allow_failures:
    - node_js: stable
    - node_js: 7
      before_install: npm i -g npm-check-updates && ncu -a
install:
 - npm i
 - node_modules/.bin/lerna bootstrap
script:
  - npm test && node_modules/.bin/codecov